$blue: #1570bb;
$yellow: #FCDD5E;

$black: #333333;
$white: #f7f8f3;

$blue-100:	#e9f3fa;
$blue-300:	#7fb2da;
$blue-500:	#1570bb;
$blue-700:	#105da0;
$blue-900:	#0a3c68;

$yellow-100:	#fef1c0;
$yellow-300:	#feeeae;
$yellow-500:	#FCDD5E;
$yellow-700:	#deaa3b;
$yellow-900:	#893c0c;

$cloud-100:  #e3e4e0;
$cloud-200:  #d0d1cd;
$cloud-300:  #bcbdb9;
$cloud-400:  #a9a9a6;
$cloud-500:  #959693;
$cloud-600:  #828280;
$cloud-700:  #6e6f6d;
$cloud-800:  #5a5b59;
$cloud-900:  #474846;

