$blue: #1570bb;
$yellow: #FCDD5E;

$black: #333333;
$white: #f7f8f3;

$blue-100:	#e9f3fa;
$blue-300:	#7fb2da;
$blue-500:	#1570bb;
$blue-700:	#105da0;
$blue-900:	#0a3c68;

$yellow-100:	#fef1c0;
$yellow-300:	#feeeae;
$yellow-500:	#FCDD5E;
$yellow-700:	#deaa3b;
$yellow-900:	#893c0c;