@use '../../../styles/global/forwards' as *;

.about {
  width: calc((100% - 1rem)/2);
  &__title {
    @include section-title;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__picture {
    width: 40%;
    margin: auto;
  }

  &__content {
    padding: 0;
    @include breakpoint(laptop) {
      padding: 0 2rem;
    }
  }
}
