@use '../../styles/global/forwards' as *;

.projects-home {
  width: 100%;
  margin: 0 auto;

  &__title {
    @include section-title;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(laptop) {
      flex-direction: row;
      flex-wrap: wrap;
    }

  }
}