@use '../../styles/global/forwards' as *;

.skills{
  &__title{
    @include section-title;
  }

  &__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include breakpoint(laptop) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid $cloud-300;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;

    @include breakpoint(laptop) {
      width: calc((100% - 2rem) / 3);
    }
  }

  &__group-title{
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Montserrat", "Noto Sans", sans-serif;
  }

  &__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}