@import '../mixin';
.home {
  &__buttons{
    @include button;
  }
  &__content-container {
    background-color: #fcdd5e;
  }
  &__section {
    min-height: 20em;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    padding: 1em;
    @include break(768px) {
      padding: 1em 3em;
      margin: 0 6em;
    }
  }
  &__hero {
    background-color: #1a84c0;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 1em;
    justify-content: space-between;
    @include break(1000px) {
      min-height: calc(100vh - 3em);
      flex-direction: row;
      padding: 0 3em;
    }
    &-text {
      width: 100%;
      @include break(1000px) {
        width: 40%;
      }
    }
    &-copy {
      line-height: 1.8em;
    }
    &-link-list {
      margin-top: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 1em;
      font-size: 1.7em;
      flex-wrap: wrap;

      @include break(768px) {
        font-size: 2em;
      }
    }
    &-intro {
      margin-bottom: 0.2em;
      line-height: 1.5em;
      font-size: 2em;
      @include break(768px) {
        font-size: 3.5em;
      }
    }
    & a {
      color: #56bdec;
      &:hover {
        color: #fff;
      }
    }
  }
  &__skills {
    display: flex;
    gap: 2em;
    flex-direction: column;
    @include break(1000px) {
      flex-direction: row;
    }
    &-picture {
      width: 70%;
      margin: auto;
      @include break(1000px) {
        width: 100%;
      }
    }
    &-list {
      font-size: 0.7em;
      display: flex;
      list-style: none;
      padding: 0;
      flex-wrap: wrap;
      gap: 0.8em;
      justify-content: center;
      @include break(768px) {
        font-size: 0.8em;
      }
    }
    & li {
      background-color: #fcdd5e;
      padding: 0.5em;
    }
  }
  &__projects {
    &-container {
      display: flex;
      flex-direction: column;
      margin: auto;
      gap: 2em;
      @include break(1000px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        & article {
          width: calc(50% - 2em);
        }
      }
    }
    &-card {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1em;
      border: 1px solid #202426;
    }
    &-title {
      text-decoration: none;
    }
    &-buttons {
      @include button;
      &-container {
        display: flex;
        justify-content: space-around;
        gap: 0.3em;
        flex-direction: column;
        @include break(786px) {
          flex-direction: row;
          gap: 1em;
        }
      }
    }
    &-skills {
      font-size: 0.7em;
      display: flex;
      list-style: none;
      padding: 0;
      flex-wrap: wrap;
      gap: 0.8em;
      justify-content: left;
      @include break(768px) {
        font-size: 0.8em;
      }
      & li {
        background-color: #202426;
        padding: 0.3em;
        color: #fff;
      }
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    gap: 2em;
    @include break(768px){
      flex-direction: row;
    }
    & article {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 100%;
      align-items: center;
      justify-content: center;
      @include break(768px){
        width: calc(50% - 1em);
      }
    }
    &-image {
      width: 40%;
    }
    & label {
      display: flex;
      flex-direction: column;
    }
  }
}
