@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;0,900;1,300;1,600&display=swap");

@mixin break($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  @include break(768px) {
    font-size: 16px;
  }
  & h2 {
    color: #1a84c0;
    margin-bottom: 1em;
  }
  & p{
    line-height: 1.5em;
    @include break(768px) {
      line-height: 1.8em;
    }
  }
  & ul{
    padding: 0 1.3em;
  }
}

.header {
  background-color: #1a84c0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 1em;
  align-items: center;
  &__home-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.5em;
    line-height: 0;
    @include break(768px) {
      font-size: 16px;
    }
  }
  &__navbar {
    display: flex;
    list-style: none;
    gap: .2em;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0;
    @include break(768px) {
      flex-direction: row;
      gap: 1em;
      font-size: 1em;
    }
    & li{
      text-align: right;
      @include break(768px){
        text-align: left;
      }
    }
    & a {
      color: #fff;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
.content-container {
  background-color: #fcdd5e;
  padding: 0;
  @include break(768px){
    padding: 0 6em;
  }
  &__content {
    background-color: #fff;
    padding: 1em 2em;
    min-height: 100vh;
  }
}
footer {
  background-color: #202426;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  font-size: .6em;
  flex-direction: column;
  @include break(768px){
    font-size: .8em;
    flex-direction: row;
  }
  & a {
    color: #fff;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}
