@mixin break($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin button {
  text-decoration: none;
  color: #202426;
  background-color: #fcdd5e;
  flex-grow: 1;
  padding: 0.3em;
  text-align: center;
  line-height: 1.2em;
  border: 0;
  margin-top: 1em;
  &:hover {
    background-color: #202426;
    color: #fff;
  }
}

@mixin skills {
  font-size: 0.7em;
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  gap: 0.8em;
  justify-content: left;
  @include break(768px) {
    font-size: 0.8em;
  }
  & li {
    background-color: #202426;
    padding: 0.3em;
    color: #fff;
    flex-grow: 0;
  }
}
