@use '../../../styles/global/forwards' as *;

.project-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid $cloud-300;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    justify-content: space-between;

    @include breakpoint(laptop) {
      width: calc((100% - 2rem) / 2);
    }

    &__content, &__actions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__actions {
      margin-top: 1rem;
    }

    &__title {
      text-transform: capitalize;
    }

    &__date {
      color: $cloud-500;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include breakpoint(laptop) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    &__tags {
      margin-top: 1rem;
    }
}

